@model QuickWin.MvcApp.Models.ContactUs.ContactUsModel

@{
    ViewBag.Title = "Contact Us";
}

<h1>Contact Us</h1>

@if (ViewBag.SendSuccessful)
{
    <div class="alert alert-success">
        <strong>Thank you!</strong> We have received your enquiry and will get back to you as soon as possible.
    </div>
}

@using (Html.BeginForm("BasicForm", "ContactUs", FormMethod.Post, new {@class="form-horizontal"}))
{
    <fieldset>
        <legend>Send us an enquiry</legend>
        
        <div class="control-group">
            @Html.LabelFor(x => x.FirstName, new {@class="control-label"})
            <div class="controls">
                @Html.TextBoxFor(x => x.FirstName, new {@class="input-xlarge"})
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(x => x.LastName, new {@class="control-label"})
            <div class="controls">
                @Html.TextBoxFor(x => x.LastName, new {@class="input-xlarge"})
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </div>
        
        <div class="control-group hp">
            @Html.LabelFor(x => x.Dob, new {@class="control-label"})
            <div class="controls">
                @Html.TextBoxFor(x => x.Dob, new {@class="input-xlarge", tabindex="99"})
                @Html.ValidationMessageFor(x => x.Dob)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.EmailAddress, new {@class="control-label"})
            <div class="controls">
                @Html.TextBoxFor(x => x.EmailAddress, new {@class="input-xlarge"})
                @Html.ValidationMessageFor(x => x.EmailAddress)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(x => x.TelephoneNumber, new {@class="control-label"})
            <div class="controls">
                @Html.TextBoxFor(x => x.TelephoneNumber, new {@class="input-xlarge"})
                @Html.ValidationMessageFor(x => x.TelephoneNumber)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(x => x.Message, new {@class="control-label"})
            <div class="controls">
                @Html.TextAreaFor(x => x.Message, 10, 50, new {@class="input-xxlarge"})
                @Html.ValidationMessageFor(x => x.Message)
            </div>
        </div>
        
        @Html.HiddenFor(x => x.DateFormLoaded)
        
        <div class="form-actions">
            <input type="submit" value="Submit" class="btn btn-inverse"/>
        </div>

    </fieldset>
}