@model LayersCMS.MvcApp.Areas.Admin.Models.Users.AddUserModel

@{
    ViewBag.Title = "Add a new user";
}

<h1>Create a new user</h1>

@using (Html.BeginForm("Add", "Users", FormMethod.Post, new {@class = "form-horizontal form-help"}))
{
    <fieldset>
        <legend>User details</legend>
        
        <div class="control-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
            @Html.HelpIcon("The email address of the new user")
            <div class="controls">
                @Html.ValidationMessageFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress, new {@class = "input-large"})
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.HelpIcon("The password for the new user. Case sensitive.")
            <div class="controls">
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new {@class = "input-medium"})
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.HelpIcon("The same password as above. The passwords must match.")
            <div class="controls">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-medium"})
            </div>
        </div>

    </fieldset>
    
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save new user" />
    </div>
    
}