@using LayersCMS.MvcApp.Application.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/plugins/nivogallerycss")

    @Html.RenderThemeHeadCustomHtml()
    
    @RenderSection("TrackingCode", required:false)
</head>
    <body>
        
        <div id="outer-container">
            <div id="header">
                <a id="logo-home" href="/">
                    <img src="http://placehold.it/250x100" alt="@Html.LayersCmsConfigCompanyName()" width="250" height="100"/>
                </a>
                
                @RenderSection("RootNav", required: false)

                <div id="contact-details">
                    <em>Get in touch!</em> <span class="contact-tel">@Html.LayersCmsConfigContactPhoneNumber()</span> <a href="@Url.Action("BasicForm", "ContactUs")" class="contact-email">@Html.LayersCmsConfigContactEmailAddress()</a>
                </div>
            </div>
            <div id="container">
                @RenderBody()        
            </div>
            <div id="footer">
                <div class="half fl text-left">
                    &#169; @Html.LayersCmsConfigCompanyName() @DateTime.Now.Year
                </div>
                <div class="half fr text-right">
                    website by <a href="http://www.steveonthefly.co.uk/" target="_blank">steve on the fly</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/plugins/nivogalleryscripts")
        @Scripts.Render("~/bundles/layerscmsjs")
        @RenderSection("scripts", required: false)
        @Html.RenderThemeBodyCloseCustomHtml()
    </body>
</html>