@model IEnumerable<LayersCMS.Data.Domain.Core.Pages.LayersCmsPage>

<div class="table-container">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th class="ctr" style="width: 50px;">Live</th>
                <th class="ctr" style="width: 170px;">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.WindowTitle</td>
                    <td>@item.Url</td>
                    <td class="ctr"><img src="@(String.Format("/content/admin/img/icons/{0}.png", (item.IsPublished ? "tick" : "cross")))" alt=""/></td>
                    <td class="ctr table-buttons tips">
                        <a href="@Url.Action("Edit", new {id = item.Id})" title="Edit this page"><img src="~/Content/admin/img/icons/pencil.png"/></a>
                        <a href="@Url.Action("Add", new {parentId = item.Id})" title="Add sub page"><img src="~/Content/admin/img/icons/page_add.png"/></a>
                        
                        @if (item.IsPublished)
                        {
                            <a href="@item.Url" title="View on frontend" target="_blank" class="page-preview fancybox.iframe" data-page-title="@item.WindowTitle"><img src="~/Content/admin/img/icons/magnifier.png"/></a>    
                        }
                        else
                        {
                            <a title="Not live. Cannot view page on frontend."><img src="~/Content/admin/img/icons/magnifier-greyscale.png"/></a>
                        }
                        
                        <a href="@Url.Action("Delete", new {id = item.Id})" title="Delete this page"><img src="~/Content/admin/img/icons/bin.png"/></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>